<%# Thumbnail-left list row (Newspaper post list).
    locals: story, image_url, excerpt: true %>
<% show_excerpt = local_assigns.fetch(:excerpt, true) %>
<% category = story.article.feed&.category %>
<% body = story_body(story) %>
<article class="post-item" style="<%= category_style(category) %>">
  <% if image_url.present? %>
    <%= link_to news_story_path(story), class: "thumb" do %>
      <%= image_tag image_url, alt: story_title(story), loading: "lazy" %>
    <% end %>
  <% end %>
  <div class="flex-grow-1">
    <span class="cat-label flat"><%= category_name(category) %></span>
    <h3 class="post-title"><%= link_to story_title(story), news_story_path(story) %></h3>
    <div class="meta"><i class="bi bi-clock"></i> <%= story_timestamp(story_time(story)) %></div>
    <% if show_excerpt && body.present? %>
      <p class="excerpt d-none d-sm-block"><%= truncate(body, length: 120, separator: " ") %></p>
    <% end %>
  </div>
</article>
